#nav2 {
    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#nav2 a {
    text-decoration: none;
}

#nav2 .logo {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}

#nav2 .logo p {
    font-variant: small-caps;
}

#nav2 #botoes {
    display: flex;
    align-items: center;
    gap: 20px;
}

#nav2 a {
    color: white;
    font-weight: bolder;
}

#nav2 button {
    height: 40px;
    width: 75px;
    border: none;
    border-radius: 7px;
    background-color: #0a3abd;
    color: white;

}

/*se outra pessoas estiver lendo isso, perdao peala bagunca que esse codigo eh*/